<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-push-4">
      <br><br><br>

      <h1>Sign in</h1>

      <form>
        <label>Username</label>
        <input type="text" ng-model="credential.username" class="form-control" autofocus>

        <label>Password</label>
        <input type="password" ng-model="credential.password" class="form-control">

        <br>

        <button class="btn btn-primary" ng-click=" signIn() ">Sign in</button>
      </form>
    </div>
  </div>
</div>
