<!DOCTYPE html>
<html ng-app="sample-app" ng-controller="SampleAppController">
<head>
  <title>Sample App</title>

  <!-- deps -->
  <link rel="stylesheet" href="bower_components/bootswatch/yeti/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>

  <!-- app files -->
  <link rel="stylesheet" href="app/sample-app.css">
  <script src="app/app.js"></script>
</head>
<body ng-controller="EditContactController">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <a href="#/" class="navbar-brand">{{ appName }}</a>

      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Contacts</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">John Doe <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="login.html">Sign out</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>

  <div class="top">
    <div class="container">
      <a href="show.html">Back to detail...</a>

      <h1>
        Edit contact<br>
        <small>{{ contact.name }}</small>
      </h1>
    </div>
  </div>

  <div class="container">
    <form>
      <label>Name</label>
      <input type="text" class="form-control" ng-model="contact.name" autofocus>

      <label>Company</label>
      <input type="text" class="form-control" ng-model="contact.company">

      <label>Job Title</label>
      <input type="text" class="form-control" ng-model="contact.jobTitle">

      <label>Phone</label>
      <input type="text" class="form-control" ng-model="contact.phone">

      <label>Email</label>
      <input type="text" class="form-control" ng-model="contact.email">

      <label>Address</label>
      <textarea rows="4" class="form-control" ng-model="contact.address"></textarea>

      <label>Note</label>
      <textarea rows="4" class="form-control" ng-model="contact.note"></textarea>

      <br>

      <a href="show.html" class="btn btn-primary">Save</a>
      <a href="show.html" class="btn btn-link">Cancel</a>
    </form>
  </div>
</body>
</html>
