<div class="top">
  <div class="container">
    <h1>Contacts</h1>
    <div class="pull-right">
      <a ui-sref="edit" class="btn btn-default">New contact</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{ filteredContacts.length }} matching contact<span ng-hide="filteredContacts.length == 1">s</span></p>
    </div>
    <div class="col-md-4">
      <input class="form-control" placeholder="Search..." autofocus ng-model="searchQuery">
    </div>
  </div>

  <br>
  <br>

  <table class="table table-bordered table-striped table-hover contacts-table">
    <thead>
      <th ng-click="sort='name'; sortOrder=!sortOrder">
        Name
        <i ng-show="sort == 'name'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sortOrder, 'glyphicon-chevron-down': !sortOrder}"></i></th>
      <th ng-click="sort='phone'; sortOrder=!sortOrder">
        Phone
        <i ng-show="sort == 'phone'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sortOrder, 'glyphicon-chevron-down': !sortOrder}"></i>
      </th>
      <th ng-click="sort='email'; sortOrder=!sortOrder">
        E-mail
        <i ng-show="sort == 'email'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sortOrder, 'glyphicon-chevron-down': !sortOrder}"></i>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="c in contacts | filter:searchQuery | orderBy : sort : !sortOrder as filteredContacts">
        <td>
          <strong><a ui-sref="show({id: c._id, name: '{{c.name | slugify}}'})">{{ c.name }}</a></strong><br>
          {{ c.company }}
        </td>
        <td>{{ c.phone }}</td>
        <td>
          <a href="mailto:{{ c.email }}">{{ c.email }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

