<div class="top">
  <div class="container">
    <h1>Contacts</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{ filteredContacts.length }} matching contacts</p>
    </div>
    <div class="col-md-4">
      <input class="form-control" placeholder="Search..." autofocus ng-model="searchQuery">
    </div>
  </div>

  <button ui-sref="new" class="btn btn-success">Add</button>

  <br>
  <br>

  <table class="table table-bordered table-striped table-hover contacts-table">
    <thead>
      <tr>
        <th ng-click="sortBy('name')">
          Name
          <i ng-show="sort.by == 'name'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sort.asc, 'glyphicon-chevron-down': !sort.asc}"></i>
        </th>
        <th ng-click="sortBy('phone')">
          Phone
          <i ng-show="sort.by == 'phone'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sort.asc, 'glyphicon-chevron-down': !sort.asc}"></i>
        </th>
        <th ng-click="sortBy('email')">
          E-mail
          <i ng-show="sort.by == 'email'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sort.asc, 'glyphicon-chevron-down': !sort.asc}"></i>
        </th>
        <th ng-click="sortBy('birthdate')">
          Birthdate
          <i ng-show="sort.by == 'birthdate'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sort.asc, 'glyphicon-chevron-down': !sort.asc}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in contacts | filter:searchQuery | orderBy : sort.by : !sort.asc as filteredContacts">
        <td>
          <strong><a ui-sref="show({id: c.id})">{{ c.name }}</a></strong><br>
          {{ c.company }}
        </td>
        <td>{{ c.phone }}</td>
        <td>
          <a href="mailto:{{ c.email }}">{{ c.email }}</a>
        </td>
        <td>{{ c.birthdate | date:'d.M.yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>

