/* bootstrap overrides */
label + .form-control{
  margin-top: -0.25em;
}

.form-control + label{
  margin-top: 1.5em;
}

.navbar-static-top{
  margin-bottom: 0;
}


/* app styles */
body{
  padding-bottom: 4em;
}

address{
  white-space: pre;
}

.top{
  background: #eef;
  border-bottom: 1px solid #ddd;
  padding: 3em 0 5em 0;
  margin-bottom: 2em;
}

.navbar-brand.logo {
  padding: 5px 15px;
}

.navbar-brand.logo img {
  height: 100%;
  width: auto;
}
